@media (min-width: 960px) {
    html {
        font-size: 20px;
    }
}

html {
    font-size: 20px;
    quotes: "“" "”";
    font-family: "PingFang SC", "\9ED\4F53", "Hiragino Sans GB", "Hiragino Sans GB W3", "Droid Sans", "Kalinga", "sans-serif", "Helvetica", "Microsoft yahei", "Arial";
    -webkit-text-size-adjust: none;
    background-color: #F5F6F9;
}

body {
    /* background-color: #F5F6F9; */
}


a {
    color: #999999;
}

:hover a {
    text-decoration: none;
    color: #999999;
}


/*首行缩进*/

p {
    text-indent: 2em;
}


/**********************首页 ***********************/
.home-body {
    /* width: 100%; */
    width: -webkit-fill-available;
    width: -moz-fill-available;
    width: -moz-available;    /* FireFox目前这个生效 */
    width: fill-available;
    height: -webkit-fill-available;
    height: -moz-fill-available;
    height: -moz-available;    /* FireFox目前这个生效 */
    height: fill-available;
    /* height: 100%; */
    background: url(/img/3.jpg) no-repeat center;
    /* background-position: 50% 50%; */
    background-size: cover;
}

/* 顶部导航栏 */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    min-height: 50px;
    max-height: 60px;
}

.navbar {
    background-color: rgba(255,255,255,0.3);
    width: 100%;
    max-height: 60px;
    background: transparent;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.24);
}

.container-fluid {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    height: 3rem;
    max-height: 60px;
    background: transparent;
}


/*左侧logo*/

.navbar-brand {
    height: 3rem;
    padding: 10px;
}

.logo {
    width: 115px;
    height: 40px;
    margin-left: 10px;
}


/*右侧导航*/

#navbar ul li a {
    height: 3rem !important;
    max-height: 60px;
    line-height: 1;
    padding: 20px;
}

#navbar ul li a:hover {
    background-color: transparent !important;
    color: #ffffff;
}

.navbar-right a {
    font-family: PingFangSC-Light;
    color: #999999;
    font-size: 1rem;
}


/*汉堡包按钮颜色*/

.icon-bar {
    background-color: #999999;
}


/*折叠导航*/

.navbar-collapse {
    background-color: transparent;
}


/**********************banner********************/

.banner {
    position: relative;
    /* overflow: hidden; */
    width: 100%;
    height: 30rem;
    z-index: -1;
/*     background: url(/img/1.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover; */
    /* padding-top: 10rem; */
}

.text-wrapper {
    padding-top: 13rem;
    margin: 0 auto;
    width: 30%;
    height: 8rem;
    font-size:1rem;
    color: #ffffff;
}
.banner .banner-text {
    background-color: rgba(255,255,255,.3);
    margin-top: .5rem;
}
.banner .banner-text:hover {
    background-color: rgb(255,255,255);
    margin-top: .5rem;
}
.banner .g-text {
    font-size: 1rem;
}

#canvas {
    width: 100%;
    height: 100%;
    position:absolute;
    /* padding-left: 50%; */
}
/**********************介绍***************.........*****/

.intro {
    width: 100%;
    /* height: 150px; */
    /* background-color: #ffffff; */
    color: #999999;
}

.wrapper {
    display: table;
}

.intro-wrap {
    width: 100%;
    /* height: 150px; */
    /* background-color: #ffffff; */
    color: #999999;
    margin: 0 auto;
    /* margin-top: 3rem; */
    max-width: 960px;
    font-family: PingFangSC-Light;
    font-size: 1rem;
    line-height: 1.8;
    padding: 15px 0;
}

.intro-wrap .image1 {
    display: inline-block;
    float: left;
    width: 6.25%;
    margin-left: 5.20833333%;
}

.intro-wrap .text {
    display: inline-block;
    position: relative;
    width: 81.25%;
    left: 2.08333333%;
    margin-right: 5.20833333%;
    /* background-color: #ffffff; */
}

.intro-wrap .btn {
    position: relative;
    top: -10px;
    width: 110px;
    margin: 0 auto;
    border-radius: 25px;
    border: 3px solid #fff;
    font-size: .8rem;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}

.intro-wrap .about {
    position: relative;
    top: -10px;
    width: 110px;
    margin: 0 auto;
    border-radius: 25px;
    border: 3px solid #fff;
    font-size: .8rem;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    margin-top: 20px;
}

.intro-wrap .about a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
}

.intro-wrap .about:hover {
    /* background-color: #fff; */
    color: #50E3C2;
    text-decoration: none;
}

.intro-wrap .about:hover a {
    color: #50E3C2;
}

.github-icon {
    color: #FFFFFF;
}

/**********************内容区********************/

.container {
    background-color: #F5F6F9;
    margin-top: 3rem;
    width: 100%;
    max-width: 960px;
    padding: 0;
}

.tittle {
    margin-left: 5.20833333%;
}

.tittle .t-text {
    float: left;
    font-size: .8rem;
    font-weight: bold;
    color: #4A4A4A;
}

.tittle .t-pic {
    width: 1.1rem;
}

.post {
    margin: 30px auto;
    padding: 1rem;
    background: #FFFFFF;
    border-radius: 10px;
    width: 90%;
    max-width: 860px;
    /*内容省略至多显示3行*/
}

.post .p-tittle {
    display: inline;
    margin-top: 20px;
    font-size: .8rem;
    font-weight: bold;
    color: #999999;
}

.post .p-time {
    display: inline;
    font-size: .7rem;
    color: #9B9B9B;
    margin-left: 1rem;
}

.post .p-content {
    margin-top: 20px;
    font-size: .7rem;
    /* height: 5.4rem; */
    color: #999999;
    letter-spacing: 1.2px;
    line-height: 1.8;
    overflow: hidden;
    text-overflow: ellipsis;
    text-overflow: -o-ellipsis-lastline;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


/*查看更多*/

.more {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3rem;
    padding: 5px;
    width: 110px;
    border-radius: 25px;
    font-size: .8rem;
    font-weight: bold;
    background-color: #50E3C2;
}

.more a {
    text-decoration: none;
    font-size: 14px;
    color: #FFF;
}

.more:hover {
    background-color: #00CC99;
}


/**********************底部********************/

footer {
    width: 100%;
    height: 5rem;

    /* background: #ffffff; */
    font-family: FZLTXHK--GBK1-0;
}

footer .foot-wrap {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 960px;
    height: 5rem;
    margin: 0 auto;

    /* overflow: hidden; */
}

footer .by,
footer .copy,
footer .my-email {
    margin-left: 5.20833333%;
    margin-top: .6rem;
    font-size: 12px;
    color: #999999;
}

.my-email a{
  color: #999999;
}


/* *********************列表页 *************************************************/


/**********************筛选********************/
.list-bg {
    color: #F5F6F9;
 }

.filter-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 2rem;
}

.filter-container .filter-tittle {
    margin-left: 5.20833333%;
    font-size: .8rem;
    font-weight: bold;
    color: #999999;
    display: inline-block;
}

.filter-container .tag {
    margin-left: .5rem;
    width: 3rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: 25px;
    text-align: center;
    font-size: 0.6rem;
    background-color: #50E3C2;
}

.filter-container .tag a {
    color: #fff;
    text-decoration: none;
}

.filter-container .tag:hover {
    background-color: #fff;
}

.filter-container .tag:hover a {
    color: #50E3C2;
}

.tag-tittle,
.tag {
    display: inline-block;
}

.tag-active {
    background-color: #fff;
}

.tag-active a {
    color: #50E3C2;
}


/*列表＊＊＊＊＊＊＊＊＊*/

.list-content {
    /* margin-top: 1.5rem !important; */
}

.list-tittle {
    font-size: .8rem !important;
}

.no-article {
    display: none;
    text-align: center;
}


/************************简历页面***************************************/


/*    /*********************头部********************/

.info-container {
    background: #50E3C2;
    height: 9rem;
    width: 100%;
    overflow: hidden;
}

.info-inner {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    margin-top: 1rem;
}

.info-inner span {
    margin-left: .8rem;
}

.info-photo {
    width: 3rem;
}

.info-name1,
.info-name2,
.info-age {
    height: 1.5rem;
    line-height: 1.5rem;
    font-family: HanziPenTC-W5;
    font-size: 1rem;
    color: #FFFFFF;
}

.info-quote {
    font-family: HannotateTC-W5;
    font-size: 1rem;
    color: #FFF;
}

.my-email {
    color: #fff;
}


/* *****************教育**********************/

.middle-container {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    margin: 0 auto;
}

.edu-container,
.work-container,
.pro-container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 3rem;
    text-align: center;
}

.back-txt {
    position: relative;
    font-family: PingFangSC-Light;
    font-size: 1.5rem;
    color: #CCCCCC;
    line-height: 3rem;
}

.first-tittle {
    font-family: PingFangSC-Light;
    font-size: 1.5rem;
    color: #50E3C2;
}

.sec-tittle {
    font-family: PingFangSC-Regular;
    font-size: 1rem;
    color: #999999;
}

.edu-info,
.work-info {
    width: 89.58333333%;
    margin: 0 auto;
}

.detail-txt {
    margin-top: .5rem;
    font-family: PingFangSC-Light;
    font-size: 12px;
    color: #999999;
}


/*****************工作***********************/

.work-info2 {
    margin-top: 2rem;
}

@media screen and (min-width: 800px) {
    .back-txt {
        font-size: 6rem;
        color: #F4F5F5;
        line-height: 6rem;
    }
    .edu-info,
    .work-info {
        left: 0;
        right: 0;
        position: absolute;
        top: 3rem;
    }
    .work-info2 {
        top: 7rem !important;
    }
}


/*****************编程***********************/

.code-txt {
    font-family: PingFangSC-Light;
    font-size: 1.5rem;
    color: #CCCCCC;
    line-height: 3rem;
    width: 89.58333333%;
    margin: 0 auto;
}

.pro-pic {
      width: 15rem;
    margin: .5rem auto;
    display: block;
}

.pro-wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0.5rem auto;
}

.pro-tittle {
    text-align: center;
}

.pro-info {
    text-align: left;
    width: 83.33333333%;
    margin: 3rem auto;
}

.pro-start,
.pro-end {
    margin-top: .5rem;
}

.pro-why,
.pro-what
 {
    margin-top: .8rem;
    font-weight: bold;
}

.pro-git a {
  color:#50E3C2;
  font-weight: 200;
}

/************************文章页面***************************************/

.page-container {
    width: 100%;
    background-color: #FFF;
    font-family: PingFangSC-Regular;
}

.at-container {
    width: 72.91666667%;
    max-width: 800px;
    margin: 0 auto;
}

.at-container section {
    margin-top: 1.5rem;
    line-height: 1.5;
    font-family: PingFangSC-Light !important;
}

.at-container section h3 {
    font-size: .9rem;
    font-family: PingFangSC-Light !important;
}

.at-container section p,
.at-container section li {
    font-size: .8rem;
    line-height: 2.5;
    margin-top: .5rem;
    font-weight: 200;
}

.at-container section img {
    display: block;
    width: 70%;
    max-width: 700px;
    margin: 0 auto;
}

.at-container section a {
    color: #50E3C2 !important;
}

.at-container section quote {
    font-size: 2rem;
    font-style: italic;
}

.at-tittle {
    display: inline-block;
    font-size: 1.2rem;
    color: #999999;
    margin: 1rem auto;
}

.at-time {
    font-family: PingFangSC-Light !important;
    font-size: 14px;
    color: #9B9B9B;
}

.at-author {
    color: #50E3C2;
}

.at-summary {
    margin-top: 1rem;
    font-size: .9rem;
    color: #999999;
    line-height: 1.5;
}


/*标签*/

.tag-container,
.user-container {
    width: 72.91666667%;
    max-width: 800px;
    margin: 1rem auto;
}

.tag-name {
    color: #50E3C2;
    margin-left: 1rem;
}

.talk-icon {
    margin-left: 1rem;
}

.fav-icon,
.talk-icon {
    color: #50E3C2;
    font-size: 1rem;
    display: inline;
}

.fav-no,
.talk-no {
    color: rgba(0, 0, 0, 0.44);
}

.fa-heart {
    backgroung-color: #50E3C2;
    display: none;
}


/***************评论******************/
.comment-container {
    width: 72.91666667%;
    max-width: 800px;
    margin: 0 auto;
}

.comment-container section {
    margin-top: 1.5rem;
    line-height: 1.5;
    font-family: PingFangSC-Light !important;
}

.comment-container section h3 {
    font-size: .7rem;
    font-family: PingFangSC-Light !important;
}

.comment-container section p,
.comment-container section li {
    font-size: .8rem;
    line-height: 2.5;
    margin-top: .5rem;
    font-weight: 200;
}

.comment-container section img {
    display: block;
    width: 70%;
    max-width: 700px;
    margin: 0 auto;
}

.comment-container section a {
    color: #50E3C2 !important;
}

.comment-container section quote {
    font-size: 2rem;
    font-style: italic;
}

.comment-container .tittle {
    margin-left: 0 !important;
}

.comment-wrapper {
    overflow: hidden;
    background-color: #FFF;
    margin-top: 1rem;
}

.comment-wrapper .user-img {
    width: 1.8rem;
    display:inline-block;
    float: left;
    margin-right: 1rem;
}

.comment-wrapper .com-user {
    width: 87.5%;
    max-width: 700px;
    height: 1.8rem;
    line-height: 1.8rem;
    margin: 1rem auto;
}

.comment-wrapper .com-user .user-name {
    display: inline;
    color: #50E3C2;
}

.comment-wrapper .com-user .user-time {
    color: #CCCCCC !important;
    font-size: 12px;
    float: right;
}

.comment-wrapper .com-txt {
    width: 87.5%;
    max-width: 700px;
    margin: .8rem auto;
    padding-bottom: 1rem;
}

.comment-wrapper .com-input {
    width: 100%;
    height: 100px;
    border: #CCCCCC 1px solid;
}

.comment-wrapper .add-comment {
    background-color: #50E3C2;
    border: none;
    margin-top: 1rem;
}

.submit-wrapper {
    display: none;
    padding-top: .4rem;
}

 .hide-input {
    margin-top: 4rem !important;
}

/* 评论输入框样式 */
.submit-name {
    border: #CCCCCC 1px solid;
}
/* 评论内容不能为空样式 */
.warn-name, .warn-com {
  display: none;
  color: #CC3333;
}

/* 编辑页面*/
.form-container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}
