<!DOCTYPE HTML>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>明星粉丝研究报告</title>
    <link rel="stylesheet" type="text/css" href="css/star.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <script type="text/javascript" src="js/star.js"></script>
    <script src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="js/star.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="big">
            <div class="big-tittle">80,90,00后</div>
            <div class="big-tittle">
                <div class="b1-tittle">追星大调查</div>
                <div class="b2-tittle">2016.04</div>
            </div>
        </div>
        <div class="chart-container">
            <div class="tittle80">80男<span class="icon">&nbsp;<img src="img/boy.svg" class="icon80"></span>
            </div>
            <div class="chart-text text-80">居然也是大叔控？！</div>
            <span class="star"><img src="img/no1.svg" class="no1"><img src="img/801.jpg" class="star-icon"></span>
            <div id="container1">
            </div>
        </div>
        <div class="chart-container">
            <div class="tittle80">80女<span class="icon">&nbsp;<img src="img/girl.svg" class="icon80"></span>
            </div>
            <div class="chart-text text-80">胡霍cp迷妹！</div>
            <span class="star"><img src="img/no1.svg" class="no1"><img src="img/802.jpg" class="star-icon"></span>
            <div id="container2">
            </div>
        </div>
        <div class="chart-container">
            <div class="tittle90">90男<span class="icon">&nbsp;<img src="img/boy.svg" class="icon80"></span>
            </div>
            <div class="chart-text text-90">胡宗主和杰伦的男粉，还爱看跑男！</div>
            <span class="star"><img src="img/no1.svg" class="no1"><img src="img/802.jpg" class="star-icon"></span>
            <div id="container3">
            </div>
        </div>
        <div class="chart-container">
            <div class="tittle90">90女<span class="icon">&nbsp;<img src="img/girl.svg" class="icon80"></span>
            </div>
            <div class="chart-text text-90">胡霍cp成功收下了8090女～</div>
            <span class="star"><img src="img/no1.svg" class="no1"><img src="img/802.jpg" class="star-icon"></span>
            <div id="container4">
            </div>
        </div>
                <div class="chart-container">
            <div class="tittle00">00男<span class="icon">&nbsp;<img src="img/boy.svg" class="icon80"></span>
            </div>
            <div class="chart-text text-00">杰伦的男粉从学生抓起</div>
            <span class="star"><img src="img/no1.svg" class="no1"><img src="img/001.jpg" class="star-icon"></span>
            <div id="container5">
            </div>
        </div>
                <div class="chart-container">
            <div class="tittle00">00女<span class="icon">&nbsp;<img src="img/girl.svg" class="icon80"></span>
            </div>
            <div class="chart-text text-00">综艺小公举，最爱小鲜肉</div>
            <span class="star"><img src="img/no1.svg" class="no1"><img src="img/002.jpg" class="star-icon"></span>
            <div id="container6">
            </div>
        </div>
    </div>
    </div>
</body>

</html>
