<!DOCTYPE HTML>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<head>
    <title>五子棋</title>
    <link rel="stylesheet" href="css/five.css">
    <script type="text/javascript" src="js/five.js"></script>
</head>

<body>
    <div class="header">
        <div class="button">
            <a href="#">
                <div id="reset">重新开始</div>
            </a>
        </div>
        <div class="button">
            <a href="#">
                <div id="backward">悔棋</div>
            </a>
        </div>
        <div class="button">
            <a href="#">
                <div id="cancle-back">撤销悔棋</div>
            </a>
        </div>
    </div>
    <canvas id="myCanvas" width="620" height="620"> </canvas>
</body>

</html>
