<!DOCTYPE html>
<html lang="zh">

<head>
    <title> BlinkD </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="css/main.css" type="text/css" /> -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/png">
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/index.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed b-nav" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div>
                        <a class="navbar-brand" href="#"><img class="logo" src="/img/logo.png"></a>
                    </div>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="nav-txt" href="/">主页</a></li>
                        <li><a class="nav-txt" href="/list">发现</a></li>
                        <li><a class="nav-txt" href="/about">About me</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
        <section>
        <div class="filter-container">
        <div class="filter-tittle">分类</div>
        <div class="tag"><a href="#">全部</a></div>
        <div class="tag"><a href="#">产品</a></div>
        <div class="tag"><a href="#">设计</a></div>
        <div class="tag"><a href="#">前端</a></div>
        <div class="tag"><a href="#">其他</a></div>
        </div>
    </section>
 <section>
        <div class="container  list-content">
            <div class="tittle">
                <div class="t-text list-tittle">内容列表</div><span><img class="t-pic" src="/img/head.png"></span>
            </div>
            <div class="content">
            <div class="post no-article">还没有相关内容哦～</div>
            <% articles.forEach(function(article) { %>
                <div class="post post-wrapper">
                    <div class="p-tittle"><a href="/articles/<%= article.id %>"><%= article.tittle %></a></div>
                    <div class="p-time"><span class="p-day"><%= article.day %></span><span>前</span></div>
                    <div class="p-content"><a href="/articles/<%= article.id %>"><p><%= article.summary %></p></a></div>
                </div>
             <% }); %>
            </div>
        </div>
    </section>
     <footer>
    <div class="foot-wrap">
        <div class="copy">Copyright ©2016 BlinkD All Rights Reserved</div>
        <div class="by">Powered by aliyun</div>
        </div>
    </footer>
</body>

</html>
